* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inria Serif;
    
}

body{
    background-color: #0D1117;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* ---------  styling for dark and light mode  --------- */

body.active{
    background-color: white;
    color: black;
}

/* ---------  stylling the container  --------- */

.container{
    display: flex;
    margin: 8px 8px 8px 8px;
    animation: appear 1s ease-in-out backwards;
}

/* ---------  styling for light and dark  --------- */

.light{
    height: 60px;
    width: 60px;
    border-radius: 12px;
    background-color: #1B212B;
    color: white;
    margin: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light i{
    font-size: 25px;
}

/* ---------  styling for navbar component  --------- */

.collection{
    background-color: #1B212B;
    width: 60px;
    height: 450px;
    margin: 30px 5px 5px 5px;
    border-radius: 12px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.collection p{
    text-align: center;
    font-size: 15px;
    margin-top: 6px;
}

.collection i{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 20px;
}

/* ---------  styling profile containner  --------- */

.profile{
    background-color: #1B212B;
    height: 700px;
    width: auto;
    border-radius: 12px;
    margin: 5px 5px 5px 20px;
}

.profile #background{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 350px;
    width: auto;
    opacity: 0.35;
    margin: 20px 20px 0px 20px;
    padding: 5px;
}

.profile .my_img img{
    border: 8px solid #0D1117;
    height: 140px;
    width: 140px;
    border-radius: 12px;
    position: absolute;
    margin: -85px 50px 350px 130px;
}

.profile p{
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 60px 0px 0px 110px;
}
/* ---------  adding hovering --------- */

.collection .home:hover{
    color: #00BFFF;
    transition: 0.3s;
}

.collection .Skills:hover{
    color: #00BFFF;
    transition: 0.3s;
}

.collection .projects:hover{
    color: #00BFFF;
    transition: 0.3s;
}

.light i:hover{
    color: #00BFFF;
    transition: 0.3s;
    transform: rotate(360deg) scale(1.2);
}

.profile p:hover{
    color: #00BFFF;
    transition: 0.3s;
}

/* ---------  adding media qurry for responsive --------- */

@media(max-width: 480px){
    .navbar{
        display: flex;
    }
    .light{
        height: 60px;
        margin: 5px 5px 5px 5px;
    }

    .collection{
        flex-direction: row;
        width: 100%;
        height: 60px;
        margin: 5px 0px 5px 5px;
    }

    .collection i{
        padding-top: 10px;
        padding-left: 20px;
    }

    .collection p{
        font-size: 12px;
        margin-top: 0px;
        padding-left: 20px;
    }

    .container{
        flex-direction: column;
        margin: 5px 5px 5px 5px;
    }

    .profile{
        margin: 5px 5px 5px 5px;
    }

    .profile #background{
        width: auto;
        height: 300px;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
    }

    .profile .my_img img{
        position: relative;
        margin: -100px 0px 0px 110px;
        display: flex;
        justify-content: center;
    }

    .profile p{
        position: relative;
        margin: 20px 0px 0px 95px;
        display: flex;
        justify-content: center;
    }

}

/* ---------  animation --------- */

@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(80px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
